

{{#each creams }}
<ul>

    <li>Name: {{name}}</li>
    <li>Price: {{price}}</li>
    <li>Awesomeness: {{awesomeness}}</li>

</ul>

{{/each}}
{{!-- <ul>
{{#each foods }}
  <li>{{lunch}}</li>
{{/each}}
</ul> --}}
