<button class="btn">Press to Scrape</button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    document.querySelector('button').addEventListener("click", function(e){
        e.preventDefault();
        console.log("clicked");
        $.ajax({
            headers: {
                "Content-Type": "application/json"
            },
            type: "GET",
            url: "/doscrape",
        }).then(response => {
            location.assign('/results');
        });
    });
</script>